:host {
    .to-do-list-wrapper{
        display: flex;
        position: relative;
        min-height: 25rem;
    }
    .to-do-list {
        flex: 1;
        padding: 0;
        margin: 0;
        margin-right: auto;
        list-style-type: none;
        opacity: 1;
        transform: scale(1);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .loader{
        width: 100%;
    }

    .selected{
        background-color: var(--primary-bg-color);
        color: #f8f8f8;
    }

    .overlay-spinner {
        position: absolute;
        inset: 0; /* покрывает весь контейнер */
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.85); /* полупрозрачный фон, чтобы список был виден сквозь спиннер */
        z-index: 10;
    }
}