  @if (state.loading()) {
    <mat-spinner 
        [diameter]="100"
        mode="indeterminate"
        class="loader"></mat-spinner>
  } @else {
      <ul class="to-do-list-container">
          @for (todo of state.todos(); track todo.id){
              <li><app-to-do-list-item
                  [item]="todo"
                  [class.selected]="state.selectedItem()?.id === todo.id"/>
              </li>
              }
      </ul>
      <p class="selected-item-description">{{state.selectedItem()?.description}}</p>
  }

