:host {
    background-color: lightgray;
    border-radius: 2px;
    margin-top: 1rem;
    padding: 1rem;

    display: flex;
    justify-content: space-between;

    span{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
    }
}