:host {
    max-width: 30vw;
    background-color: #f8f8f8;
    border-radius: 2px;
    margin-top: 1rem;
    padding: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .list-item-task {
        width: 100%;
        padding: 0;
        height: 2rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}