<div class="layout-wrapper">
    <aside class="sidebar">
        <div class="sidebar-header">
            <h2>{{ 'LAYOUT.APP_NAME' | translate }}</h2>
        </div>

        <ul class="nav-list">
            <li>
                <a routerLink="/backlog" routerLinkActive="active" class="nav-item">
                    <mat-icon>list_alt</mat-icon>
                    <span>{{ 'LAYOUT.BACKLOG' | translate }}</span>
                </a>
            </li>
            <li>
                <a routerLink="/board" routerLinkActive="active" class="nav-item">
                    <mat-icon>dashboard</mat-icon>
                    <span>{{ 'LAYOUT.BOARD' | translate }}</span>
                </a>
            </li>
        </ul>
    </aside>

    <main class="main-content">
        <app-title-bar class="title-bar">
            <p>{{title()}}</p>
            <button class="language-button" appTooltip="{{ 'TOOLTIP.CHANGE_LANGUAGE' | translate }}"
                (click)="toggleLanguage()">
                {{ buttonLabel() }}
            </button>
        </app-title-bar>
        <router-outlet></router-outlet>
        <app-toast-component />
    </main>
</div>