:host {
    min-height: 40vh;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    position: relative;
}